<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="table_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.25 0.43706 -0.4"
        rpy="0 0 0" />
      <mass
        value="45.9" />
      <inertia
        ixx="4.5821"
        ixy="4.9393E-15"
        ixz="8.4093E-15"
        iyy="4.9905"
        iyz="1.0099E-14"
        izz="2.3141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>